{%extends 'base.html'%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/addcourses.css')}}">
<title>Adding Courses</title>
{%endblock%}

{%block body%}
    <div class="containerAddingCourses">
        <div class="navDiv">
            <div class="homeLogo">
                <img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo"/>
            </div>
            <div class="hrAfterLogo">
                <hr/>
            </div>
            <div class="pageDiv">
                <h1 class="pageName">Home</h1>
            </div>
            <div class="titleDiv">
                <h1>My Courses</h1>
            </div>
            <div class="profileIconDiv">
                <img class="profileIcon" src="{{url_for('static', filename='images/user.png')}}" alt="Profile"/>
            </div>
            <div class="hrAfterNav">
                <hr/>
            </div>
        </div>
        <div class="contentAddCoursesPage">
            <div class="backButtonDiv" onclick=location.href="{{url_for('homePage')}}">
                <img src="{{url_for('static', filename='images/back.png')}}" alt="Logo"/>
            </div>
            <div class="hrAfterBackButton">
                <hr/>
            </div>
            {% if professor%}
                <form action="/addcourses" method="POST">
                    <div class="">

                    </div>
                </form>
            {% elif student%}
                <form action="/addcourses" method="POST">
                    <div>

                    </div>
                </form>
            {%endif%}
        </div>
    </div>
{%endblock%}