{%extends 'base.html'%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
<title>Home</title>
{%endblock%}

{%block body%}
<div class="containerHomePage">
    <div class="navDiv">
        <div class="homeLogo">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo"/>
        </div>
        <div class="hrAfterLogo">
            <hr/>
        </div>
        <div class="pageDiv">
            <h1 class="pageName">Home</h1>
        </div>
        <div class="titleDiv">
            <h1>{{courseName}}</h1>
        </div>
        <div class="profileIconDiv">
            <img class="profileIcon" src="{{url_for('static', filename='images/user.png')}}" alt="Profile"/>
        </div>
        <div class="hrAfterNav">
            <hr/>
        </div>
    </div>
</div>

{%if professor%}
<div id='profOptions' class="center">
    <form action="/createquestion" id="questionButton" method="get" enctype="multipart/form-data">
        <input value="{{courseID}}" name="courseID" hidden>
        <input  type="submit" value="Create Question"></input>
    </form>
    <a href="">Gradebook</a>
</div>
{%endif%}

{%if student%}
<div id='profOptions' class="center">
    <form action="/createquestion" id="questionButton" method="get" enctype="multipart/form-data">
        <input value="{{courseID}}" name="courseID" hidden>
    </form>
    <a href="">Gradebook</a>

    <!-- display active questions -->
    <div id="activeQuestions"> 
        {%for question in activeQuestions%}
        <div class="insideContentDiv">
            <div class="courseNameHomeDiv">
                <h6>{{question.question}}</h6>
            </div>
            <div class="enterHomeDiv">
                <form action="/activequestion" id="courseButton" method="get" enctype="multipart/form-data">
                    <input value="{{qid}}" name="qid" hidden>
                    <input value="{{cid}}" name="cid" hidden>
                    <input class="enterButtonHome" type="submit" value="Enter"></input>
                </form>
            </div>
        </div>
        {%endfor%}
    </div>

</div>

{%endif%}
{%endblock%}