{%extends 'base.html'%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
<!-- <script src="/socket.io/socket.io.js"></script> -->
<script>
    window.addEventListener('load', function () {
    
    const socket = io();
    socket.connect('http://127.0.0.1:5000');

    const form = document.getElementById('form');
    console.log(form)
    form.addEventListener('submit', (event) => {
        event.preventDefault();
        const q1 = document.getElementById('question1').value;
        const q2 = document.getElementById('question2').value;
        const q3 = document.getElementById('question3').value;
        const q4 = document.getElementById('question4').value;
        const q5 = document.getElementById('question5').value;
        const correctQ = document.querySelector('input[name="correctQuestion"]:checked').value;
        socket.emit('submit', {q1,q2,q3,q4,q5,correctQ});
    });
    socket.on('response', (data) => {
        alert(data.message);
    });
    });
  </script>
<title>Home</title>
{%endblock%}

{%block body%}
<div class="containerHomePage">
    <div class="navDiv">
        <div class="homeLogo">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo"/>
        </div>
        <div class="hrAfterLogo">
            <hr/>
        </div>
        <div class="pageDiv">
            <h1 class="pageName">Home</h1>
        </div>
        <div class="titleDiv">
            <h1>CSE 312</h1>
        </div>
        <div class="profileIconDiv">
            <img class="profileIcon" src="{{url_for('static', filename='images/user.png')}}" alt="Profile"/>
        </div>
        <div class="hrAfterNav">
            <hr/>
        </div>
    </div>
    <div class="CreateQuestionForm">
        <form id='form'>
            <div class="signupForm">
                    <!-- Question Text Fields -->
                    <input type="text" id="question1" name="question1" placeholder="Question 1" required/><br>
                    <input type="text" id="question2" name="question2" placeholder="Question 2" required/><br>
                    <input type="text" id="question3" name="question3" placeholder="Question 3"/><br>
                    <input type="text" id="question4" name="question4" placeholder="Question 4"/><br>
                    <input type="text" id="question5" name="question5" placeholder="Question 5"/><br>
                    <!-- Buttons to select which question is correct -->
                    <p>Which Question is correct?</p>
                    <label for="q1">question1</label>
                    <input type="radio" id="q1" name="correctQuestion" value="question1" required="required" 
                    oninvalid="this.setCustomValidity('Please select the correct question')"
                    oninput="this.setCustomValidity('')"><br>
                    <label for="q2">question2</label>
                    <input type="radio" id="q2" name="correctQuestion" value="question2"><br>
                    <label for="q3">question3</label>
                    <input type="radio" id="q3" name="correctQuestion" value="question3"><br>
                    <label for="q4">question4</label>
                    <input type="radio" id="q4" name="correctQuestion" value="question4"><br>
                    <label for="q5">question5</label>
                    <input type="radio" id="q5" name="correctQuestion" value="question5"><br>

                    <br>
                    <button type="submit">Start Question</button>
            </div> 
    </div>
</div>
{%endblock%}