{%extends 'base.html'%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
<!-- <script src="/socket.io/socket.io.js"></script> -->
<title>Home</title>
{%endblock%}

{%block body%}
<div class="containerHomePage">
    <div class="navDiv">
        <div class="homeLogo">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo"/>
        </div>
        <div class="hrAfterLogo">
            <hr/>
        </div>
        <div class="pageDiv">
            <h1 class="pageName">Home</h1>
        </div>
        <div class="titleDiv">
            <h1>{{courseName}}</h1>
        </div>
        <div class="profileIconDiv">
            <img class="profileIcon" src="{{url_for('static', filename='images/user.png')}}" alt="Profile"/>
        </div>
        <div class="hrAfterNav">
            <hr/>
        </div>
    </div>
    <div class="CreateQuestionForm">
        <form id='form' method="POST" action="/createquestion">
            <div class="signupForm">
                    <!-- Question Text Fields -->
                    <input type="text" id="question" name="question" placeholder="Question" required/><br>
                    <input type="text" id="answer1" name="answer1" placeholder="Answer 1" required/><br>
                    <input type="text" id="answer2" name="answer2" placeholder="Answer 2" required/><br>
                    <input type="text" id="answer3" name="answer3" placeholder="Answer 3"/><br>
                    <input type="text" id="answer4" name="answer4" placeholder="Answer 4"/><br>
                    <input type="text" id="answer5" name="answer5" placeholder="Answer 5"/><br>
                    <!-- Buttons to select which question is correct -->
                    <p>Which Question is correct?</p>
                    <label for="a1">answer1</label>
                    <input type="radio" id="a1" name="correctAnswer" value="answer1"><br>
                    <label for="a2">answer2</label>
                    <input type="radio" id="a2" name="correctAnswer" value="answer2"><br>
                    <label for="a3">answer3</label>
                    <input type="radio" id="a3" name="correctAnswer" value="answer3"><br>
                    <label for="a4">answer4</label>
                    <input type="radio" id="a4" name="correctAnswer" value="answer4"><br>
                    <label for="a5">answer5</label>
                    <input type="radio" id="a5" name="correctAnswer" value="answer5"><br>

                    <br>
                    <button type="submit">Start Question</button>
            </div> 
    </div>
</div>
{%endblock%}