{%extends 'base.html'%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
<title>Home</title>
{%endblock%}

{%block body%}
<div class="containerHomePage">
    <div class="navDiv">
        <div class="homeLogo">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo"/>
        </div>
        <div class="hrAfterLogo">
            <hr/>
        </div>
        <div class="pageDiv">
            <h1 class="pageName">Home</h1>
        </div>
        <div class="titleDiv">
            <h1>My Courses</h1>
        </div>
        <div class="profileIconDiv">
            <img class="profileIcon" src="{{url_for('static', filename='images/user.png')}}" alt="Profile"/>
        </div>
        <div class="hrAfterNav">
            <hr/>
        </div>
    </div>
    <div class="contentHomePage">
        <div class="joinButtonDiv">
            <button class="joinCourseButton" onclick=location.href='{{url_for('addCourses')}}'>Join Course</button>
        </div>
        <div class="hrAfterJoinButton">
            <hr/>
        </div>
        {%if noContent and professor%}
            <div class="noContentDiv">
                <h6 class="noContent">Looks like you haven't signed up for any classes yet, click on "Join Course" to get started.</h6>
            </div>
        {%elif noContent and student%}
            <div class="noContentDiv">
                <h6>Looks like you haven't enrolled in any courses yet, click on "Join Course" to get started.</h6>
            </div>
        {%elif professor%}
            <div class="contentDiv">
                {% for classData in classesData%}
                        <div class="insideContentDiv">
                            <div class="coursePrefixHomeDiv">
                                <p>{{classData.coursePrefix}}</p>
                            </div>
                            <div class="courseNameHomeDiv">
                                <h6>{{classData.courseName}}</h6>
                            </div>
                            <div class="instructorNameHomeDiv">
                                <p>Instructor: {{classData.instructorName}}</p>
                            </div>
                            <div class="joinCodeHomeDiv">
                                <p> - Join Code: {{classData.courseCode}}</p>
                            </div>
                            <div class="enterHomeDiv">
                                <form action="/coursePage" id="courseButton" method="post" enctype="multipart/form-data">
                                    <input value="{{classData._id}}" name="courseID" hidden>
                                    <input class="enterButtonHome" type="submit" value="Enter"></input>
                                </form>
                            </div>
                        </div>
                    
                {%endfor%}
            </div>
            {%elif student%}
            <div class="contentDiv">
                {% for classData in classesData%}
                        <div class="insideContentDiv">
                            <div class="coursePrefixHomeDiv">
                                <p>{{classData.coursePrefix}}</p>
                            </div>
                            <div class="courseNameHomeDiv">
                                <h6>{{classData.courseName}}</h6>
                            </div>
                            <div class="instructorNameHomeDiv">
                                <p>Instructor: {{classData.instructorName}}</p>
                            </div>
                            <div class="joinCodeHomeDiv">
                                <p> - Join Code: {{classData.courseCode}}</p>
                            </div>
                            <div class="enterHomeDiv">
                                <button class="enterButtonHome">Enter</button>
                            </div>
                        </div>
                    
                {%endfor%}
            </div>

        {%endif%}
        
    </div>
</div>
{%endblock%}