{%extends 'base.html'%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
<title>Home</title>
{%endblock%}

{%block body%}
<div class="containerHomePage">
    <div class="navDiv">
        <div class="homeLogo">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo"/>
        </div>
        <div class="hrAfterLogo">
            <hr/>
        </div>
        <div class="pageDiv">
            <h1 class="pageName">Home</h1>
        </div>
        <div class="titleDiv">
            <h1>My Courses</h1>
        </div>
        <div class="profileIconDiv">
            <img class="profileIcon" src="{{url_for('static', filename='images/user.png')}}" alt="Profile"/>
        </div>
        <div class="hrAfterNav">
            <hr/>
        </div>
    </div>
    <div class="contentHomePage">
        <div class="joinButtonDiv">
            <button class="joinCourseButton">Join Course</button>
        </div>
        <div class="hrAfterJoinButton">
            <hr/>
        </div>
        {%if noContent and professor%}
            <div class="noContentDiv">
                <h6 class="noContent">Looks like you haven't signed up for any classes yet, click on "Join Course" to get started.</h6>
            </div>
        {%elif noContent and student%}
            <div class="noContentDiv">
                <h6>Looks like you haven't enrolled in any courses yet, click on "Join Course" to get started.</h6>
            </div>
        {%endif%}
    </div>
</div>
{%endblock%}